extends ../layout

block content

    a(href="/coffe" style='color: white; background-color:black;') Volver

    br 

    br

    br

    h1(style='color: white; background-color:black;') Nuevo Café

    br

    br

    form(action="/coffe/create" method="post")

        label(for="coffeID" style='color: white; background-color:black;') ID:

        input#id(type="text" name="coffeID")

        br

        label(for="tipo" style='color: white; background-color:black;') Tipo:

        input#id(type="text" name="tipo")

        br

        label(for="cantidad" style='color: white; background-color:black;') Cantidad:

        input#id(type="text" name="cantidad")

        br

        label(for="claridad" style='color: white; background-color:black;') Claridad:

        input#id(type="text" name="claridad")

        br

        br

        input.btn(type="submit" value="OK" style='color: white; background-color:green;')