extends ../layout

block content

    a(href='/coffe/create' style='color: black; background-color:yellow;') Nuevo CAFÉ

    br

    br

    table.table 

        thead

            tr

                th(scope='col' style='color: white; background-color:black;') Id

                th(scope='col' style='color: white; background-color:black;') Tipo

                th(scope='col' style='color: white; background-color:black;') Cantidad

                th(scope='col' style='color: white; background-color:black;') Claridad 

                th(scope='col' style='color: white; background-color:black;')
                
                th(scope='col' style='color: white; background-color:black;')

        tbody

            each cafe in cafes

                tr(style='color: white; background-color:black;')

                    td(scope='row' style='color: white; background-color:black;')= cafe.coffeID

                    td(style='color: white; background-color:black;')= cafe.tipo

                    td(style='color: white; background-color:black;')= cafe.cantidad

                    td(style='color: white; background-color:black;')= cafe.claridad

                    td(style='color: white; background-color:black;')

                        form.inline(method='post' action='coffe/' + cafe.id + '/delete')
                            input(type='hidden' name='id' value=cafe.id)

                            button.link-button(type='submit' class='btn' style='color: white; background-color:red;')

                                ='Eliminar'
                    
                    td(style='color: white; background-color:black;')

                        form.inline(method='get' action='coffe/' + cafe.id + '/update')
                            input(type='hidden' name='id' value=cafe.id)

                            button.link-button(type='submit' class='btn' style='color: white; background-color:blue;')

                                ='Actualizar'
