extends ../layout



block content

    a(href="/coffe" style='color: white; background-color:green;') Volver

    br

    br

    br

    h1(style='color: white;') Modificando el Café

    br

    br

    form(action=`/coffe/${cafe.id}/update` method="post")

        label(for="id" style='color: white; background-color:black;') ID:

        input#id(type="text" name="id" value=cafe.id)

        br

        label(for="tipo" style='color: white; background-color:black;') Tipo:

        input#tipo(type="text" name="tipo" value=cafe.tipo)

        br

        label(for="cantidad" style='color: white; background-color:black;') Cantidad:

        input#cantidad(type="text" name="cantidad" value=cafe.cantidad)

        br

        label(for="claridad" style='color: white; background-color:black;') Claridad:

        input#claridad(type="text" name="claridad" value=cafe.claridad)

        br

        br

        input.btn(type="submit" value="OK" style='color: white; background-color:purple;')