extends ../layout

block content
  a.btn.btn-success(href='/usuarios/create') Nuevo Usuario

  br
  br

  table.table
    thead
      tr  
        th(style='color: white; background-color:black;' scope='col') ID
        th(style='color: white; background-color:black;' scope='col') Nombre
        th(style='color: white; background-color:black;' scope='col') Email
        th(style='color: white; background-color:black;' scope='col') Verificado
        th(style='color: white; background-color:black;' scope='col')
        th(style='color: white; background-color:black;' scope='col')
    tbody
      each usuario in usuarios
        tr
          td(style='color: white; background-color:black;' scope='row') 
            = usuario.id
          td(style='color: white; background-color:black;')= usuario.nombre
          td(style='color: white; background-color:black;')= usuario.email
          td(style='color: white; background-color:black;')= usuario.verificado ? 'SI' : 'NO'
          td(style='color: white; background-color:black;')
            a.btn(style='color: white; background-color:green;' href= 'usuarios/' + usuario.id + '/update') Editar
          td(style='color: white; background-color:black;')
            form.inline(method='post' action='usuarios/' + usuario.id + '/delete')
                input(type='hidden' name='id' value= usuario.id)
                button.link-button.btn-danger(type='submit' name='submit_param' value='submit_value' class='btn')
                    = 'Eliminar'

  
