extends ../layout

block content
  a(href='/usuarios' style='color: white; background-color:black;') Volver

  br
  br
  br

  h1(style='color: white;')  Actualizando Usuario

  br
  br

  form(action=`/usuarios/${usuario.id}/update` method='post')
    .form-group
        label(for='nombre' style='color: white; background-color:black;') Nombre: 
        input#nombre.form-control(type='text' name='nombre' value= usuario.nombre class=errors.nombre ? 'is-invalid' : '')
        if errors.nombre
            small#nombreHelp.text-danger
               = errors.nombre.message  
    
    
    br
    br
    input.btn.btn-primary(type='submit' value='OK')
